
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: #f0f4f8;
    font-family: poppins;
    margin: 0;
    padding: 0;
    
   
    background-image: url('../../assets/image/image (2).jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    object-fit: cover;
  }
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-box button:hover {
    background-color: #45a049;
  }
  
  .login-box input:focus {
    border-color: #4caf50;
    outline: none;
  }
  