/* Container Styling */
.dashboard-container {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
}

.header-section {
  display: flex;
  flex-direction: row; /* Stack the logo and text vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center;
  margin-bottom: 20px;
  gap: 1rem;
  margin-left: 1rem;
}

.logo {
  width: 80px;
  margin-bottom: 10px; /* Add space between the logo and the text */
}

.header-text {
  max-width: 600px;
  text-align: center;
  width: 50%;
  background-color:#b4efc2;
  border-color: #000 solid 5px;
  border-radius: 5px;
  margin-left: 1rem;
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  color: #666;
}

/* Action header section */
.action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-employee-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-employee-btn:hover {
  background-color: #0056b3;
}

/* Table Styling */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.styled-table th {
  background-color: #f3f3f3;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #007bff;
}

.styled-table tbody tr td input[type="checkbox"] {
  margin-right: 10px;
}

/* Edit and Delete Buttons */
.edit-btn, .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.edit-btn {
  color: #007bff;
}

.edit-btn:hover {
  color: #0056b3;
}

.delete-btn {
  color: #ff4d4d;
}

.delete-btn:hover {
  color: #e60000;
}
