.market-container {
    min-height: 100vh;
    display: flex;
    gap: 20px;
    font-family: poppins;
  }
  
  .market-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #f8f8f8, #eaeaea);
    width: 75%;
    padding: 20px;
  }
  
  .market-header {
    margin-bottom: 20px;
  }
  
  .market-title {
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(to right, #38a169, #2c7a7b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .market-subtitle {
    font-size: 18px;
    color: #555;
  }
  
  .market-table-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  
  .market-loader,
  .market-error,
  .market-no-products {
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }
  
  .market-error {
    color: #e53e3e;
  }

  .market-slide{
    width: 100%;
  }
  .market-slide h2{
    color: white;
    font-size: 2.2em;
    font-weight: 600;
  }
  .market-slide .shop-now{
    background-color: #FFC029;
    padding: 20px 50px;
    border-radius: 50px;
    font-weight: 600;
  } 
  .slide-content{
    margin-bottom: 40px;
  }
  .market-tabs button{
    width : 100%;
    text-align: left;
    padding: 20px 20px;
    background: linear-gradient(135deg,black,#3A4A27,#3A4A27,#4e6039);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .market-tabs-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .market-tabs-grid button{
    padding: 14px 20px;
  }
  .market-products-listing h2{
    margin: -25px 0 35px 0;
    font-weight: 600;
    color: #1F310A;
    font-size: 1.3em;
    position: relative;
  }
  .market-products-listing h2:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width:50px;
    height: 3px;
    border-radius: 3px;
    background-color: #1F310A;
  }
  .market-products-container{
    padding: 50px;
    background-color: whitesmoke;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 10px;
    font-family: poppins;
  }
  .market-products-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    align-items: center;
    justify-content: space-around;
  }
  .market-product-card{
    border-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    height: 40vh;
    border-radius: 20px;
    padding: 0;
    position: relative;
    transition: all .4s;
  }
  .market-product-card:hover{
    transform: scale(1.01);
    cursor: pointer;
  }
  .market-product-card .product-head img{
    height: 34vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .market-product-card .product-head .product-name{
    position: absolute;
    height: 34vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 20px;
    color: white;
  }
  .market-product-card .product-head .product-name p{
    position: absolute;
    bottom: 20px;
  }
  .market-product-card .product-footer{
    padding: 0 10px;
    margin-top: 10px;
    font-size: .9em;
    align-items: center;
  }
@media (max-width:910px){
  .market-products-grid{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
}
@media (max-width:680px){
  .market-products-grid{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
  .market-tabs-grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:480px){
  .market-products-grid{
    grid-template-columns: 1fr;
    gap: 30px;
  }
}